extends layout
block head
    link(rel="stylesheet" href="/css/projectList.css")
    link(rel="stylesheet" href="/css/addNewProject.css")
    link(rel="stylesheet" href="/css/viewProject.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css")
    link(rel="stylesheet", href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css")

block content
    input#typeName(type="hidden" name="typeName" value=JSON.stringify(renderType))
    //- input#(type="hidden" name="viewedProject" value=JSON.stringify(currentProjectDetails))
    input#materialList(type="hidden" name="materialList" value=JSON.stringify(officeStore))
    section
        .headerBox
            .row
                -console.log("got all", currentProjectDetails)
                h4 Office Store Details
                    //- span.h3Details (Client Name: #{currentProjectDetails ? currentProjectDetails.clientName : ''} - Quoted Amount: #{currentProjectDetails ? currentProjectDetails.totalAmount : ''})
                    a.logout(onclick="openLogoutModal()" title="Logout") Logout
                    a.addNewProject(onclick=`addItemsModal("officeStore")` title="Add new material") Add Items
                    a.goBackBtn(href="javascript:window.history.back()" title="Go back") 
                        i.fa-solid.fa-arrow-right-from-bracket.mirror-icon
        .table-main.custom-pagination(style="margin: 3rem 7rem")
            table.table.table-striped.table-bordered.dataTable(id="materialListTable" cellpadding='0' cellspacing='0' border='0' width='100%' style="border-right-width: 1px !important;")
        .project-list
        //- Custom modal
        div#logoutModal.modal-overlay(style="display:none !important")
        div#addItemsModal.modal-overlay(style="display:none !important")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")
    script(src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js')
    script(src='/js/adminLogin.js')
    script(src='/js/viewProject.js')
    script(src='/js/bootstrap/bootstrap-notify.min.js' async)

    script.
        $(document).ready(function () {
            var materialList = JSON.parse($('#materialList').val());
            //- var userId = $('#userId').val();
            //- const statusEnum = JSON.parse($('#statusenum').val());
            
            var materialListColumns = [
                { "sTitle": "Material Name", "mData": "materialName", "sWidth": "20%" },
                { "sTitle": "Balance Quantity", "mData": "balanceQuantity", "sWidth": "20%", "bSortable": false, "bSearchable": false },
                { "sTitle": "Per/Rate", "mData": "perRate", "sWidth": "20%", "bSortable": false, "bSearchable": false },
                { "sTitle": "Total Cost", "mData": "totalCost", "sWidth": "20%", "bSortable": false, "bSearchable": false },
                {
                    "sTitle": "Action",
                    "sClass": "center text-center",
                    "bSortable": false,
                    "bSearchable": false,
                    "mData": "_id",
                    "sWidth": "20%",
                    "mRender": function (data, type, row) {
                        var deleteUrl = `/api/deleteMaterial/${data}`;
                        return `<a class="edit-officeMaterial" data-id="${data}" data-name="${row.materialName}" data-perrate="${row.perRate}" data-quantity="${row.balanceQuantity}" title="Edit material">` +
                            `<i class="fa-solid fa-pen-to-square" aria-hidden="true"></i></a>` + 
                            `<a class="delete-material" data-id="${data}" data-name="${row.materialName}" data-type="officeStore" title="Delete material">` +
                            `<i class="fa-solid fa-trash" aria-hidden="true"></i></a>`;
                    }
                }
            ];

            $('#materialListTable').removeAttr('width').dataTable({
                "searching": true,
                'autoWidth': false,
                "paging": true,
                "bFilter": false,
                "info": true,
                "aaData": materialList,
                "ordering": false,
                "aoColumns": materialListColumns,
                //- 'columnDefs': [
                //-     {
                //-         "targets": [5, 6],
                //-         "className": "text-center",
                //-     },
                //-     {
                //-         "targets": 2,
                //-         "className": "mbUsers",
                //-     }
                //- ],
                stateSave: true,
                preDrawCallback: function () { },
                rowCallback: function (nRow) { },
                drawCallback: function (oSettings) { }
            });
        });
