extends layout
block head
    link(rel="stylesheet" href="/css/projectList.css")

block content
    section
        .headerBox
            .row
                h4 Available Projects
                    a.logout(onclick="openLogoutModal()" title="Logout") Logout
                    a.addNewProject(href="/api/addNewProject" title="Add new material") Add New
                    a.officeStore(href="/api/officeStore" title="Open office store") Office Store
                    //- .table-main.custom-pagination(style="margin-top: 3rem;")
                    //-     table.table.table-striped.table-bordered.dataTable(id="memoryprojectTable" cellpadding='0' cellspacing='0' border='0' width='100%' style="border-right-width: 1px !important;")
        .project-list 
            -console.log("listtttt", projectList)
            each project in projectList
                -console.log("listtttt", list)
                .project-card 
                    h5.project-title= project.projectNo + '. ' +project.projectName
                    h3.project-desc= "Client Name: " + project.clientName
                    if project.startDate && project.startDate !== undefined
                        h3.project-desc= "Start Date: " + project.startDateFormatted
                    if project.endDate && project.description && project.endDate !== undefined && project.description !== undefined
                        h3.project-desc= "End Date: " + project.endDateFormatted
                        h3.project-desc(style="margin-bottom:1rem !important;")= project.description
                    else if project.endDate && project.endDate !== undefined
                        h3.project-desc(style="margin-bottom:1rem !important;")= "End Date: " + project.endDateFormatted
                    else
                        h3.project-desc(style="margin-bottom:1rem !important;")= project.description

                    .project-actions 
                        h4.totalAmount= "Amount: " + project.totalAmount
                        a.btn.btn-edit(href=`/api/addNewProject?id=${project._id}` title="Edit")
                            i.fa-solid.fa-pen-to-square
                        a.btn.btn-view(href=`/api/viewProject?id=${project._id}&projectName=${project.projectName}&clientName=${project.clientName}&amount=${project.totalAmount}` title="View")
                            i.fa-solid.fa-eye
                        a.btn.btn-delete(data-id=project._id.toString() data-projectname=project.projectName title="Delete")
                            i.fa-solid.fa-trash
        //- Custom modal
        div#logoutModal.modal-overlay(style="display:none !important")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")
    script(src='/js/adminLogin.js')
    script(src='/js/bootstrap/bootstrap-notify.min.js' async)

    script.
        $(document).ready(function() {
            $('.btn-delete').on('click', function(e) {
                e.preventDefault();
                document.getElementById('logoutModal').style.display = 'flex';
                const projectId = $(this).data('id');
                const projectName = $(this).data('projectname');

                const alertResponse = alertPopUp("delete", projectId, projectName);
            });
        });

        function alertPopUp(type, projectId = null, projectName = null) {
            $("#logoutModal").empty()
            let html = `<div class="modal-box">
                <h3>Are you sure you want to ${type}?</h3>
                <div class="modal-actions">
                    <button class="btn-cancel" onclick="closeLogoutModal()">Cancel</button>`
            if (type === "logout") {
                html+= `<button class="btn-confirm" onclick="confirmLogout()">Yes, ${type}</button>`
            } else if (type === "delete") {
                html+= `<button class="btn-confirm" id="confirmDeleteBtn">Yes, ${type}</button>`
            }

            html += `   
                </div>
                </div>
            `
            $("#logoutModal").append(html)
            if (type === "delete") { 
                $("#confirmDeleteBtn").on("click", function() { 
                    confirmDelete(projectId, projectName); 
                }); 
            }
        };

        function openLogoutModal() {
            document.getElementById('logoutModal').style.display = 'flex';
            $("#logoutModal").empty()
            alertPopUp("logout")
        }

        function closeLogoutModal() {
            document.getElementById('logoutModal').style.display = 'none';
        }

        function confirmLogout() {
            window.location.href = "/api/logoutUser";
        }

        function confirmDelete(projectId, projectName) {
            $.ajax({
                url: '/api/deleteProject',
                type: 'POST',
                data: { projectId: projectId },
                success: function(res) {
                    if (res.success === true) {
                        $.notify(`${projectName} project deleted successfully!`, {type: "success", animate: { enter: 'animated bounceInDown', exit: 'animated bounceOutUp' }})
                        setTimeout(() => {
                            location.reload();
                        }, 1000);
                    } else {
                        $.notify(`${projectName} project deleted failed- ${res.message}!`, {type: "danger", animate: { enter: 'animated bounceInDown', exit: 'animated bounceOutUp' }})
                    }
                },
                error: function(err) {
                    console.error("Error deleting project:", err);
                    $.notify(`ERROR occured - ${res.message}!`, {type: "danger", animate: { enter: 'animated bounceInDown', exit: 'animated bounceOutUp' }})
                }
            });
        }
