extends layout
block head
    link(rel="stylesheet" href="/css/projectList.css")
    link(rel="stylesheet" href="/css/viewProject.css")

block content
    input#viewedProject(type="hidden" name="viewedProject" value=JSON.stringify(currentProjectDetails))
    section
        .headerBox
            .row
                -console.log("got all", currentProjectDetails)
                h4 #{currentProjectDetails ? currentProjectDetails.projectName : ''} - Material Lists
                    span.h3Details (Client Name: #{currentProjectDetails ? currentProjectDetails.clientName : ''} - Quoted Amount: #{currentProjectDetails ? currentProjectDetails.totalAmount : ''})
                    a.logout(onclick="openLogoutModal()") Logout
                    a.addNewProject(href="/api/addNewProject") Add Items
                    //- .table-main.custom-pagination(style="margin-top: 3rem;")
                    //-     table.table.table-striped.table-bordered.dataTable(id="memoryprojectTable" cellpadding='0' cellspacing='0' border='0' width='100%' style="border-right-width: 1px !important;")
        .project-list 
        //- Custom modal
        div#logoutModal.modal-overlay(style="display:none !important")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")
    script(src='/js/adminLogin.js')
    script(src='/js/bootstrap/bootstrap-notify.min.js' async)

    script.
        $(document).ready(function() {
            $('.btn-delete').on('click', function(e) {
                e.preventDefault();
                document.getElementById('logoutModal').style.display = 'flex';
                const projectId = $(this).data('id');
                const projectName = $(this).data('projectname');

                const alertResponse = alertPopUp("delete", projectId, projectName);
            });
        });

        function alertPopUp(type, projectId = null, projectName = null) {
            $("#logoutModal").empty()
            let html = `<div class="modal-box">
                <h3>Are you sure you want to ${type}?</h3>
                <div class="modal-actions">
                    <button class="btn-cancel" onclick="closeLogoutModal()">Dismiss</button>`
            if (type === "logout") {
                html+= `<button class="btn-confirm" onclick="confirmLogout()">Yes, ${type}</button>`
            } else if (type === "delete") {
                html+= `<button class="btn-confirm" id="confirmDeleteBtn">Yes, ${type}</button>`
            }

            html += `   
                </div>
                </div>
            `
            $("#logoutModal").append(html)
            if (type === "delete") { 
                $("#confirmDeleteBtn").on("click", function() { 
                    confirmDelete(projectId, projectName); 
                }); 
            }
        };

        function openLogoutModal() {
            document.getElementById('logoutModal').style.display = 'flex';
            $("#logoutModal").empty()
            alertPopUp("logout")
        }

        function closeLogoutModal() {
            document.getElementById('logoutModal').style.display = 'none';
        }

        function confirmLogout() {
            window.location.href = "/api/logoutUser";
        }

        function confirmDelete(projectId, projectName) {
            $.ajax({
                url: '/api/deleteProject',
                type: 'DELETE',
                data: { projectId: projectId },
                success: function(res) {
                    if (res.success === true) {
                        $.notify(`${projectName} project deleted successfully!`, {type: "success"})
                        setTimeout(() => {
                            location.reload(); // refresh project list
                        }, 1000);
                    } else {
                        $.notify(`${projectName} project deleted failed- ${res.message}!`, {type: "danger"})
                    }
                },
                error: function(err) {
                    console.error("Error deleting project:", err);
                    $.notify(`ERROR occured - ${res.message}!`, {type: danger})
                }
            });
        }
